.title{
  text-align: center;
}

.poke__list{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;  
  text-align: center;
  
}

.poke__item{
  background-color:rgb(206, 230, 238);
  width: 180px;
  height: 220px;
  padding-top:20px;
  border: 1px solid gray;
  border-radius: 8%;
}

.poke__name{
  border: 1px solid gray;
}

.poke__img{
  width: 120px;
}

.type__list{
  display: flex;
  justify-content: center;
}

.type__item{
  color:white;
  background-color: gray;
  text-transform: uppercase;
  border-radius: 10%;
}
